.row {
    display: flex;
    justify-content: space-around;
}

.bluesky-background {
    background-color: lightgray;
}

span {
    border-bottom: 0.5px solid grey;
    width: 50%;
    justify-content: center;
    display: flex;
}

.negative {
    color: red
}

.positive {
    color: green
}
